In [8]:
%pip install  edge-ml

Collecting edge-ml
  Using cached edge_ml-0.3.3-py3-none-any.whl.metadata (6.7 kB)
Using cached edge_ml-0.3.3-py3-none-any.whl (7.6 kB)
Installing collected packages: edge-ml
Successfully installed edge-ml-0.3.3
Note: you may need to restart the kernel to use updated packages.

In [9]:
from edgeml import DatasetReceiver
import pandas as pd
import numpy as np

In [3]:
project=DatasetReceiver("https://beta.edge-ml.org","0aac4e12c96cb0f863ef585e9028c079")
project.loadData()

RuntimeError: Unauthorized

In [1]:
import pickle
pickle.dump(project, open("project.pkl","wb"))

NameError: name 'project' is not defined

In [10]:
import pickle
project=pickle.load(open("project.pkl","rb"))

In [11]:
df=pd.concat([d.data.dropna().assign(**d.metaData) for d  in project.datasets if (d.name == "devicemotion" and d.data.shape[0]>0) ] )
df

,time,acceleration.x,acceleration.y,acceleration.z,accelerationIncludingGravity.x,accelerationIncludingGravity.y,accelerationIncludingGravity.z,rotationRate.alpha,rotationRate.beta,rotationRate.gamma,participantId,activity,mobile,browser
0,2024-05-04 06:37:51.267,1.3,-0.3,-2.9,1.1,3.7,7.1,-9.9,10.6,-25.299999,111f7,testing,UnknownPhone,Chrome
1,2024-05-04 06:37:51.284,0.9,-0.4,-3.2,0.1,3.4,6.8,-9.0,7.3,-32.099998,111f7,testing,UnknownPhone,Chrome
2,2024-05-04 06:37:51.300,-0.1,-0.7,-3.3,-0.1,3.2,6.8,0.0,0.3,-34.400002,111f7,testing,UnknownPhone,Chrome
3,2024-05-04 06:37:51.317,-0.4,-0.7,-3.2,-0.3,3.4,6.5,4.5,0.1,-32.000000,111f7,testing,UnknownPhone,Chrome
4,2024-05-04 06:37:51.334,-0.4,-0.7,-3.2,-0.3,3.6,6.1,7.2,0.3,-30.200001,111f7,testing,UnknownPhone,Chrome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,2024-05-07 12:03:58.362,-0.1,0.0,0.0,0.0,4.6,8.6,-0.8,4.1,0.400000,uksco,sitting,UnknownPhone,Chrome
125,2024-05-07 12:03:58.379,-0.1,0.0,0.0,0.0,4.6,8.6,-0.8,1.1,0.700000,uksco,sitting,UnknownPhone,Chrome
126,2024-05-07 12:03:58.396,-0.1,0.0,0.0,0.0,4.6,8.6,0.3,0.2,1.100000,uksco,sitting,UnknownPhone,Chrome
127,2024-05-07 12:03:58.413,-0.1,0.0,0.0,0.0,4.6,8.6,1.4,0.6,1.300000,uksco,sitting,UnknownPhone,Chrome
128,2024-05-07 12:03:58.429,-0.1,0.0,0.0,0.0,4.6,8.6,1.0,0.2,2.000000,uksco,sitting,UnknownPhone,Chrome

In [12]:
df2=pd.concat([df.drop(columns=["mobile","browser"]),pd.get_dummies(df[["browser"]])], axis=1)
df2.index=df.time
df2=df2.drop(columns="time")
df2["activity"],labels=df2["activity"].factorize()
df2

,acceleration.x,acceleration.y,acceleration.z,accelerationIncludingGravity.x,accelerationIncludingGravity.y,accelerationIncludingGravity.z,rotationRate.alpha,rotationRate.beta,rotationRate.gamma,participantId,activity,browser_Chrome,browser_Firefox
time,,,,,,,,,,,,,
2024-05-04 06:37:51.267,1.3,-0.3,-2.9,1.1,3.7,7.1,-9.9,10.6,-25.299999,111f7,0,True,False
2024-05-04 06:37:51.284,0.9,-0.4,-3.2,0.1,3.4,6.8,-9.0,7.3,-32.099998,111f7,0,True,False
2024-05-04 06:37:51.300,-0.1,-0.7,-3.3,-0.1,3.2,6.8,0.0,0.3,-34.400002,111f7,0,True,False
2024-05-04 06:37:51.317,-0.4,-0.7,-3.2,-0.3,3.4,6.5,4.5,0.1,-32.000000,111f7,0,True,False
2024-05-04 06:37:51.334,-0.4,-0.7,-3.2,-0.3,3.6,6.1,7.2,0.3,-30.200001,111f7,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-07 12:03:58.362,-0.1,0.0,0.0,0.0,4.6,8.6,-0.8,4.1,0.400000,uksco,3,True,False
2024-05-07 12:03:58.379,-0.1,0.0,0.0,0.0,4.6,8.6,-0.8,1.1,0.700000,uksco,3,True,False
2024-05-07 12:03:58.396,-0.1,0.0,0.0,0.0,4.6,8.6,0.3,0.2,1.100000,uksco,3,True,False
2024-05-07 12:03:58.413,-0.1,0.0,0.0,0.0,4.6,8.6,1.4,0.6,1.300000,uksco,3,True,False
2024-05-07 12:03:58.429,-0.1,0.0,0.0,0.0,4.6,8.6,1.0,0.2,2.000000,uksco,3,True,False

In [13]:
labels

Index(['testing', 'standing', 'walking', 'sitting'], dtype='object')

In [14]:
df2.dtypes

acceleration.x                    float32
acceleration.y                    float32
acceleration.z                    float32
accelerationIncludingGravity.x    float32
accelerationIncludingGravity.y    float32
accelerationIncludingGravity.z    float32
rotationRate.alpha                float32
rotationRate.beta                 float32
rotationRate.gamma                float32
participantId                      object
activity                            int64
browser_Chrome                       bool
browser_Firefox                      bool
dtype: object

In [15]:
def mode(x): 
    return (x.mode()[0])

In [16]:
aggs={ **dict.fromkeys(df2.select_dtypes(exclude=[np.float32]).columns, [ lambda x : x.mode()[0]  ]),
      **dict.fromkeys(df2.select_dtypes(include=[np.float32]).columns, ["mean","var","min","max","median"])}

del(aggs["participantId"])
aggs

{'activity': [<function __main__.<lambda>(x)>],
 'browser_Chrome': [<function __main__.<lambda>(x)>],
 'browser_Firefox': [<function __main__.<lambda>(x)>],
 'acceleration.x': ['mean', 'var', 'min', 'max', 'median'],
 'acceleration.y': ['mean', 'var', 'min', 'max', 'median'],
 'acceleration.z': ['mean', 'var', 'min', 'max', 'median'],
 'accelerationIncludingGravity.x': ['mean', 'var', 'min', 'max', 'median'],
 'accelerationIncludingGravity.y': ['mean', 'var', 'min', 'max', 'median'],
 'accelerationIncludingGravity.z': ['mean', 'var', 'min', 'max', 'median'],
 'rotationRate.alpha': ['mean', 'var', 'min', 'max', 'median'],
 'rotationRate.beta': ['mean', 'var', 'min', 'max', 'median'],
 'rotationRate.gamma': ['mean', 'var', 'min', 'max', 'median']}

In [17]:
df3=df2.groupby("participantId").rolling("1s").agg(aggs)

In [18]:
df3

                                      activity browser_Chrome browser_Firefox  \
                                      <lambda>       <lambda>        <lambda>
participantId time
10280         2024-05-06 16:05:25.380      3.0            0.0             1.0
              2024-05-06 16:05:25.382      3.0            0.0             1.0
              2024-05-06 16:05:25.388      3.0            0.0             1.0
              2024-05-06 16:05:25.388      3.0            0.0             1.0
              2024-05-06 16:05:25.388      3.0            0.0             1.0
...                                        ...            ...             ...
uksco         2024-05-07 12:03:58.362      3.0            1.0             0.0
              2024-05-07 12:03:58.379      3.0            1.0             0.0
              2024-05-07 12:03:58.396      3.0            1.0             0.0
              2024-05-07 12:03:58.413      3.0            1.0             0.0
              2024-05-07 12:03:58.429      3.0            1.0             0.0

                                      acceleration.x                       \
                                                mean       var   min  max
participantId time
10280         2024-05-06 16:05:25.380       0.000000       NaN  0.00  0.0
              2024-05-06 16:05:25.382      -0.005000  0.000050 -0.01  0.0
              2024-05-06 16:05:25.388      -0.003333  0.000033 -0.01  0.0
              2024-05-06 16:05:25.388      -0.002500  0.000025 -0.01  0.0
              2024-05-06 16:05:25.388      -0.002000  0.000020 -0.01  0.0
...                                              ...       ...   ...  ...
uksco         2024-05-07 12:03:58.362      -0.014754  0.006612 -0.20  0.1
              2024-05-07 12:03:58.379      -0.016667  0.006836 -0.20  0.1
              2024-05-07 12:03:58.396      -0.018333  0.006946 -0.20  0.1
              2024-05-07 12:03:58.413      -0.021667  0.006811 -0.20  0.1
              2024-05-07 12:03:58.429      -0.025000  0.006653 -0.20  0.1

                                             acceleration.y            ...  \
                                      median           mean       var  ...
participantId time                                                     ...
10280         2024-05-06 16:05:25.380  0.000       0.020000       NaN  ...
              2024-05-06 16:05:25.382 -0.005       0.025000  0.000050  ...
              2024-05-06 16:05:25.388  0.000       0.023333  0.000033  ...
              2024-05-06 16:05:25.388  0.000       0.022500  0.000025  ...
              2024-05-06 16:05:25.388  0.000       0.022000  0.000020  ...
...                                      ...            ...       ...  ...
uksco         2024-05-07 12:03:58.362  0.000      -0.014754  0.002612  ...
              2024-05-07 12:03:58.379  0.000      -0.018333  0.002201  ...
              2024-05-07 12:03:58.396  0.000      -0.018333  0.002201  ...
              2024-05-07 12:03:58.413  0.000      -0.018333  0.002201  ...
              2024-05-07 12:03:58.429  0.000      -0.018333  0.002201  ...

                                      rotationRate.beta                   \
                                                   mean        var   min
participantId time
10280         2024-05-06 16:05:25.380         -0.030000        NaN -0.03
              2024-05-06 16:05:25.382         -0.030000   0.000000 -0.03
              2024-05-06 16:05:25.388         -0.030000   0.000000 -0.03
              2024-05-06 16:05:25.388         -0.030000   0.000000 -0.03
              2024-05-06 16:05:25.388         -0.030000   0.000000 -0.03
...                                                 ...        ...   ...
uksco         2024-05-07 12:03:58.362          0.673771  17.194634 -9.90
              2024-05-07 12:03:58.379          0.763333  17.256938 -9.90
              2024-05-07 12:03:58.396          0.811667  17.056641 -9.90
              2024-05-07 12:03:58.413          0.803333  17.055921 -9.90
              2024-05-07 12:03:58.429          0.788333  17.060370 -9.90

                                                    rotationRate.gamma  \
                                         max median               mean
participantId time
10280         2024-05-06 16:05:25.380  -0.03  -0.03          -0.060000
              2024-05-06 16:05:25.382  -0.03  -0.03          -0.060000
              2024-05-06 16:05:25.388  -0.03  -0.03          -0.060000
              2024-05-06 16:05:25.388  -0.03  -0.03          -0.060000
              2024-05-06 16:05:25.388  -0.03  -0.03          -0.060000
...                                      ...    ...                ...
uksco         2024-05-07 12:03:58.362  14.80   0.40          -0.057377
              2024-05-07 12:03:58.379  14.80   0.45          -0.015000
              2024-05-07 12:03:58.396  14.80   0.45           0.021667
              2024-05-07 12:03:58.413  14.80   0.45           0.080000
              2024-05-07 12:03:58.429  14.80   0.40           0.150000


                                            var   min   max median
participantId time
10280         2024-05-06 16:05:25.380       NaN -0.06 -0.06  -0.06
              2024-05-06 16:05:25.382  0.000000 -0.06 -0.06  -0.06
              2024-05-06 16:05:25.388  0.000000 -0.06 -0.06  -0.06
              2024-05-06 16:05:25.388  0.000000 -0.06 -0.06  -0.06
              2024-05-06 16:05:25.388  0.000000 -0.06 -0.06  -0.06
...                                         ...   ...   ...    ...
uksco         2024-05-07 12:03:58.362  2.263153 -3.90  2.10   0.40
              2024-05-07 12:03:58.379  2.282314 -3.90  2.10   0.40
              2024-05-07 12:03:58.396  2.282065 -3.90  2.10   0.40
              2024-05-07 12:03:58.413  2.222644 -3.90  2.10   0.45
              2024-05-07 12:03:58.429  2.192034 -3.90  2.10   0.50

[131796 rows x 48 columns]

In [19]:
df4=df3.copy()

df4.index=df3.index.droplevel(1)
df4=df4.reset_index()

df4.dropna(inplace=True)
df4

       participantId activity browser_Chrome browser_Firefox acceleration.x  \
                     <lambda>       <lambda>        <lambda>           mean
1              10280      3.0            0.0             1.0      -0.005000
2              10280      3.0            0.0             1.0      -0.003333
3              10280      3.0            0.0             1.0      -0.002500
4              10280      3.0            0.0             1.0      -0.002000
5              10280      3.0            0.0             1.0      -0.001667
...              ...      ...            ...             ...            ...
131791         uksco      3.0            1.0             0.0      -0.014754
131792         uksco      3.0            1.0             0.0      -0.016667
131793         uksco      3.0            1.0             0.0      -0.018333
131794         uksco      3.0            1.0             0.0      -0.021667
131795         uksco      3.0            1.0             0.0      -0.025000

                                   acceleration.y  ... rotationRate.beta  \
             var   min  max median           mean  ...              mean
1       0.000050 -0.01  0.0 -0.005       0.025000  ...         -0.030000
2       0.000033 -0.01  0.0  0.000       0.023333  ...         -0.030000
3       0.000025 -0.01  0.0  0.000       0.022500  ...         -0.030000
4       0.000020 -0.01  0.0  0.000       0.022000  ...         -0.030000
5       0.000017 -0.01  0.0  0.000       0.021667  ...         -0.030000
...          ...   ...  ...    ...            ...  ...               ...
131791  0.006612 -0.20  0.1  0.000      -0.014754  ...          0.673771
131792  0.006836 -0.20  0.1  0.000      -0.018333  ...          0.763333
131793  0.006946 -0.20  0.1  0.000      -0.018333  ...          0.811667
131794  0.006811 -0.20  0.1  0.000      -0.018333  ...          0.803333
131795  0.006653 -0.20  0.1  0.000      -0.018333  ...          0.788333

                                      rotationRate.gamma                  \
              var   min    max median               mean       var   min
1        0.000000 -0.03  -0.03  -0.03          -0.060000  0.000000 -0.06
2        0.000000 -0.03  -0.03  -0.03          -0.060000  0.000000 -0.06
3        0.000000 -0.03  -0.03  -0.03          -0.060000  0.000000 -0.06
4        0.000000 -0.03  -0.03  -0.03          -0.060000  0.000000 -0.06
5        0.000000 -0.03  -0.03  -0.03          -0.060000  0.000000 -0.06
...           ...   ...    ...    ...                ...       ...   ...
131791  17.194634 -9.90  14.80   0.40          -0.057377  2.263153 -3.90
131792  17.256938 -9.90  14.80   0.45          -0.015000  2.282314 -3.90
131793  17.056641 -9.90  14.80   0.45           0.021667  2.282065 -3.90
131794  17.055921 -9.90  14.80   0.45           0.080000  2.222644 -3.90
131795  17.060370 -9.90  14.80   0.40           0.150000  2.192034 -3.90


         max median
1      -0.06  -0.06
2      -0.06  -0.06
3      -0.06  -0.06
4      -0.06  -0.06
5      -0.06  -0.06
...      ...    ...
131791  2.10   0.40
131792  2.10   0.40
131793  2.10   0.40
131794  2.10   0.45
131795  2.10   0.50

[131699 rows x 49 columns]

In [24]:
df5=df4.sample(1000)

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneGroupOut
from sklearn.tree import DecisionTreeClassifier
clf = RandomForestClassifier(random_state=0)

# Assume df is a pandas dataframe with features and labels
X = df5.drop(['activity','participantId'], axis=1) # Features
y = df5['activity'] # Labels
groups = df5['participantId'] # Group identifiers

from sklearn.model_selection import cross_val_score
scores=cross_val_score(clf, X, y, cv=LeaveOneGroupOut(), groups=groups, scoring="f1_macro")
scores.mean()

/tmp/ipykernel_256/2012909442.py:7: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  X = df5.drop(['activity','participantId'], axis=1) # Features
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.48553664742639757

In [36]:
from sklearn.feature_selection import RFE

selector = RFE(clf, n_features_to_select=10, step=1)

selector = selector.fit(X, y)

/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [35]:
selector.

AttributeError: 'RFE' object has no attribute '_ranking'

In [37]:
X2=df5[selector.get_feature_names_out(X.columns)]
X2

       acceleration.y            acceleration.z  \
                  var        min            var
37219        0.245568  -2.100000       0.318336
90877        0.000000   0.000000       0.000000
56945       34.338700 -16.799999      19.217771
4142         0.000474  -0.080000       0.000126
10136        0.000180  -0.060000       0.000145
...               ...        ...            ...
120924       0.000179  -0.050000       0.000199
42023        0.000915  -0.100000       0.004619
93298        0.000000   0.000000       0.001695
107293       1.849692  -3.570000       6.223016
123628       0.000678  -0.100000       0.005929

       accelerationIncludingGravity.y                \
                                 mean    min median
37219                        1.635000   1.10   1.70
90877                       -0.055000  -0.10  -0.10
56945                      -10.093333 -24.60 -10.20
4142                         0.058879  -0.01   0.06
10136                        0.080946  -0.02   0.09
...                               ...    ...    ...
120924                       0.024813  -0.02   0.02
42023                       -9.650000  -9.70  -9.65
93298                        6.200000   6.20   6.20
107293                       4.863333   1.17   5.09
123628                       5.403333   5.40   5.40

       accelerationIncludingGravity.z rotationRate.alpha              \
                               median                var         max
37219                            9.55         107.706203   22.400000
90877                            9.80           0.002531    0.000000
56945                            0.00       10954.556779  193.399994
4142                             9.86           0.011155    0.350000
10136                            9.93           0.011077    0.590000
...                               ...                ...         ...
120924                           9.86           0.009163    0.310000
42023                            1.40           0.537997    1.300000
93298                            7.50           0.175412    0.700000
107293                           8.26         559.529901   36.720001
123628                           8.00           0.363669    2.300000

       rotationRate.gamma
                      var
37219         3036.353340
90877            0.000328
56945         5698.138192
4142             0.003931
10136            0.002575
...                   ...
120924           0.004177
42023            0.419014
93298            0.013658
107293         522.511004
123628           0.368641

[1000 rows x 10 columns]

In [40]:
clf2=RandomForestClassifier()
scores=cross_val_score(clf2, X2, y, cv=LeaveOneGroupOut(), groups=groups)
scores.mean()

/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/opt/conda/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.6580573478718171